@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Poppins:wght@300;500;600;700;900&display=swap');


a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(26, 26, 27);
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    /* font-family: 'Philosopher', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.hero-text p {
    font-size: 22px;
    line-height: 40px;
}
.hero-text h1 {
  font-size: 55px;
}
p {
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    font-weight: 300;

}
.readblog-btn {

    background-color: #69AA22;
    color: white;
}
.readblog-btn:hover {
    background-color: #85D52D;
    color: rgb(238, 237, 237);
}
.nav-pills .nav-link.active {
    color: black;
    background-color: #85D52D; 
}
.nav-link{
    color: #000000;
}

.nav-pills .nav-link {
    border-radius: 50%;
    border-color: #85D52D;
    border: 2px;
}
.mycard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 320px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 20px; */
    color: #000000;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    padding: 10px;
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 28px;
  }
  
  .content .para {
    line-height: 1.5;
  }

 
  
  .content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #FFC107 0%, #85D52D 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .mycard::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #FFC107 0%, #85D52D 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .mycard:hover::before {
    height: 100%;
  }
  
  .mycard:hover {
    box-shadow: none;
  }
  
  .mycard:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  
.img-blog{
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    border-radius: 8px;

}
.title-blog {
    font-size: 23px;
}
.cat-container {
    background-color: transparent;
    border: 1px solid #85D52D;
    border-radius: 50%;
    width: 27%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.port-image{
  display: block;
  position: relative;
  padding: 0;
}
.img-portfolio{
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    border-radius: 8px;
  
}
.myfigure i {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #007ced;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    /* opacity: 0; */
    transition: all 300s ease-in-out;
}
.myfigure a {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
}
a{
    text-decoration: none;
}
.myblog {
  position: relative;
  top: 0px;
  left: 0px;
  visibility: visible;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  margin: 8px;
  border-radius: 12px;

}
.myblog:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.05); 
}
.myblog i{
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #007ced;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  /* opacity: 0; */
  transition: all 0.3s ease-in-out;
}
.myblog a{
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.port-image .name {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 3;
}
.myblog .name {
  display: inline-block;
  padding: 4px 10px;
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  top: 20px;
  left: 20px;
  max-width: calc(100% - 67px);
  border-radius: 5px;
  position: absolute;
}
.myblog .mask::after{
  position: absolute;
  left: 50%;
  top: -250%;
  margin: -22px 0 0 -22px;
  width: 44px;
  line-height: 44px;
  font-size: 44px;
  text-align: center;
  content: "\e62e";
  color: #fff;
}
.mask{
  position: absolute;
  background: #4f565e;
  background: rgba(0,0,0,.12);
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;

}
.post-info{
  padding: 8px 10px 15px;
}
.post-date{
  display: inline-block;
  color: #888;
  font-size: 14px;
  line-height: 1.1em;
  font-weight: 400;

}
.blog-item-title {
  margin: 5px 0 0 0;
  color: #333;
  font-size: 18px;
}
.post-btn{
  margin: 10px 0 0px 90px;
}
.detail-blog img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
  border: 0;
}
.img-portfolio img {
  width: 500px;
  height: 250px;
}